body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    font-size: 40px;
    color: #ffffff;
    background-color: #003b6f;
}

.wrapper {
    min-height: 101vh;
    padding: 10vh 30vh;
}

.title {
    margin-top: 0;
    margin-bottom: 0.4em;
}

.accordion-item {
    margin-bottom: 0.5em;
}

.img-wrapper {
    display: none;
}

.accordion-title {
    cursor: pointer;
    transition: 1s ease-in-out;
}

.accordion-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-radius: 20px;
    background-color: #1261a6;
}

.head-title {
    padding: 0.5em;
}

.head-btn {
    display: none;
}

.head-btn-op {
    display: none;
}

.accordion-title:hover .img-wrapper {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.accordion-input {
    appearance: none;
}

.accordion-input:checked ~ .img-wrapper {
    display: flex;
    justify-content: center;
}


.accordion-input:checked + .accordion-head {
    background-color: #003b6f;
}

.accordion-head {
    transition: .4s ease-in-out;
}


.accordion:hover .head-btn-op {
    display: inline;
}

.accordion:hover .accordion-head {
    background-color: #003b6f;
}

.accordion-item:hover .head-btn {
    display: inline;
}

.accordion-item:hover .head-btn-op {
    display: none;
}

.accordion-item:active .accordion-head{
    background-color: #1261a6;
}



